@import url('https://cerebrumui.netlify.app/style.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css');
@import './styles/homepage.css';
@import './styles/quizCard.css';
@import './styles/quizPage.css';

:root {
  --complimentary-text-color: #ffd200;
  --right-answer: #2eb086;
}

.yellow-text {
  color: var(--complimentary-text-color);
}

.grey-bg {
  background: var(--grey-color);
}

.grey-bg:hover {
  filter: brightness(80%);
}

.green-bg {
  background: var(--right-answer);
}

.red-bg {
  background: var(--primary-color);
}

.loader {
  border: 8px solid var(--secondary-color);
  border-top: 8px solid var(--primary-color);
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  animation: spin 0.6s linear infinite;
}

.loader-center {
  margin: 0 auto;
}

.position-loader {
  margin-top: 10rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
